Repository alan-turing-institute/AutisticaCitizenScience, pull requests merged in 2020-04, with the labels that each got.

#94 [MRG] Add sprint report file and sprint video demonstration guidelines
  SPRINTREPORT.md
  project-management/sprint-demo-requirements.md
Labels: project management

#97 [MRG] Update agile and open source development process
  project-management/agile-opensource-workflow.md
Labels: project management

#102 Create wireframes-resources.md
  project-management/wireframes/wireframe-versions.md
  project-management/wireframes/wireframes-resources.md
Labels: community, fujitsu, project management

#157 Create Summaries Folder
  community-recommendations/README.md
  community-recommendations/focus-groups/20190918_summary-18-September-2019.md
  community-recommendations/focus-groups/20190924_summary-24-September-2019.md
  community-recommendations/focus-groups/20191004_summary-4-October-2019.md
  community-recommendations/focus-groups/README.md
  community-recommendations/focus-groups/creation-summary-documents.md
  project-management/FocusGroups/FocusGroup-SummaryReview-Guidelines.md
Labels: community, priority-high, project management

#155 Create wireframing-March2020-notes.md
  project-management/workshops/wireframing-March2020-notes.md
Labels: events, project management

#154 Create backlog-refinement-2020-03-31.md
  project-management/Fujitsu-Meeting-Notes/backlog-refinement/backlog-refinement-31-03-2020.md
Labels: project management

#138 TA-feedback-03-20-2020
  community-recommendations/user-feedback.md
Labels: community, fujitsu, user-story
