Repository alan-turing-institute/AutisticaCitizenScience, pull requests merged in 2022-02, with the labels that each got.

#618 Create moderation summaries README.md
  community-recommendations/moderation-co-creation/README.md
Labels: Engagement and promotion, Research, Repository

#620 Create platform-prototype-21-02-2022.md
  platform-designs/wireframes/platform-prototype-21-02-2022.md
Labels: design

#617 Sophia design documentation
  platform-designs/design-introduction.md
  platform-designs/design-process/15-11-21-AutSPACEs-Design-Process.pdf
  platform-designs/design-process/README.md
Labels: design, User Experience

#634 Create how-to-use-presentation-template.md
  platform-designs/design-resources/how-to-use-presentation-template.md
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-copyslides.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-createnewslides.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-emptypresentation.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-filedropdown.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-image5.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-opentemplate.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-renamecopyslides.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-selecttemplatedslides.png
  platform-designs/design-resources/slides-template-guide-images/slides-template-guide-selecttemplateslides.png
Labels: presentation, Repository, Documentation
